@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(47, 47, 47);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 160, 238);
  width: 1px !important;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.overflow-desk::-webkit-scrollbar {
  height: 6px !important;
  width: 200px !important;
}